<!--=include components/head.htm -->
			<!-- min/css -->
			<link rel="stylesheet" href="css/detail-seller.css">
			<!-- min/css end-->
			<!-- min/js -->
			<script src="js/detail-seller.js"></script>
			<!-- min/js end-->

            <!--=include components/lightbox.htm -->

			<!-- Component: Notify -->
			<!-- <div class="battery-notify bhp__notify bhp__notify--left bhp__notify--transparent">
				<div class="bhp__notify-item">
					<span class="describe">分享好友，赢取充电次数</span><a href="#" class="bhp__notify-action">分享</a>
				</div>
			</div>
			<div class="comment-notify bhp__notify bhp__notify--left bhp__notify--transparent">
				<div class="bhp__notify-item">
					<span class="describe"></span><a class="back bhp__notify-action">好的</a>
				</div>
			</div> -->
			<!-- Component: Notify end-->

			<main data-index-page="detail-seller" class="Content bhp__content">
				<section class="seller-intro">
					<h2 class="entry-title">商家信息入口标题实例</h2>
					<div class="metas">
						<span class="visit-count"><i class="ibhp-visibility"></i><span>2075</span></span>
						<span class="comment-count"><i class="ibhp-comment"></i><span>102</span></span>
					</div>
					<div class="gallery">
						<div class="g-wrapper">
							<a><img src="images/news/new_thumbnail_01.jpg" data-origin-src="images/news/new_thumbnail_01.jpg" alt="" class="pic"><span class="describe">1Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a>
							<a><img src="images/news/new_thumbnail_02.jpg" data-origin-src="images/news/new_thumbnail_02.jpg" alt="" class="pic"><span class="describe">2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a>
							<a><img src="images/news/new_thumbnail_03.jpg" data-origin-src="images/news/new_thumbnail_03.jpg" alt="" class="pic"><span class="describe">3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a>
							<a><img src="images/news/new_thumbnail_04.jpg" data-origin-src="images/news/new_thumbnail_04.jpg" alt="" class="pic"><span class="describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a>
							<a><img src="images/news/new_thumbnail_01.jpg" data-origin-src="images/news/new_thumbnail_05.jpg" alt="" class="pic"><span class="describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></a>
						</div>
					</div>
					<div class="excerpt off">
						<div class="content">本人从业二十余年，多次国内外进修，一直在一线品牌工作至今，现独立创造1508工作室，只想给你舒适的环境，优质的服务，打造全新的发型....
                        本人从业二十余年，多次国内外进修，一直在一线品牌工作至今，现独立创造1508工作室，只想给你舒适的环境，优质的服务，打造全新的发型....</div>
						<i class="more-btn ibhp-keyboard_arrow_down"></i>
					</div>
				</section>

				<section class="seller-information">
					<div class="ident">
						<div class="avatar" style="background-image: url(images/logo.png);"></div>
						<div class="name">XXX企业</div>
						<div class="battery anim__battery" data-require="tmp/power.tmp.json.php" data-status="60" data-is-full="0">
							<div class="capacity ab_capacity">
								<div class="capacity-wrapper">
									<div class="power" style="width: 55%;">
										<div class="status ab_power"></div>
									</div>
								</div>
								<div class="notice"><i class="icon ibhp-power"></i><span class="text">充满置顶</span></div>
								<div class="power-info"><span class="text">10</span>%</div>
							</div>
							<div class="remaining-info">还能充电<span class="text">n</span>次,分享获得更多次数</div>
						</div>
						<div class="battery-btn countdown">还差<span class="v">0</span>秒</div>
						<i class="battery-btn ibhp-battery_charging_full">+</i>
					</div>
					<div class="labels">
						<span class="item">企业会员</span>
						<span class="item">身份未认证</span>
						<span class="item">邮箱未认证</span>
						<span class="item">手机未认证</span>
						<span class="item">…</span>
					</div>
                    <div class="actions">
                        <a class="map-btn"><span>地图</span></a>
                        <a class="phone-btn"><span>电话</span></a>
                    </div>
                    <div class="location">地址：<span>徐州泉山区文亭街贵帮财富大厦1301室</span></div>
                    <div class="phonenumber">手机：<span>130156xxxx</span></div>
					<div class="metas">
						<div class="register-date"><span>2015-10-23</span>注册百惠铺</div>
						<div class="visiter"><span>2759 <span>人/次</span></span>参观访问</div>
						<div class="last-update"><span>2015-10-23</span>最后登录</div>
					</div>
				</section>

				<section class="comments-container">
                    <nav class="comments-tab"><a class="ordinary item on">用户评论</a></nav>
					<ul class="comments-wrapper">
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
						<li class="comment">
                            <div class="metas"><i class="ibhp-person"></i><span class="name">username</span><i class="ibhp-insert_invitation"></i><span class="date">2016-03-17</span></div>
                            <p class="comment-body">Lorem ipsum dolor sit amet, consectetur</p>
						</li>
					</ul>
                    <div class="loader" data-require="tmp/comment.tmp.php">查看更多</div>
                    <div class="submit-comment-wrapper">
                        <form action="tmp/comment.tmp.php" method="POST" class="submit-comment">
							<input type="hidden" id="dpStart" name="dpStart" value="4">
							<input type="hidden" name="backurl" value="http://www.baihp.com/seller/m/homepage.php?uid=9657">
							<input type="hidden" name="touser" value="两来风">
							<input type="hidden" name="step" value="2">

                            <textarea name="commentContent" class="commentContent" cols="0" rows="0" hidden></textarea>
                            <div class="textarea" data-maxlength="150" contenteditable></div>
                            <input type="submit" value="发布" class="submit">
                        </form>
                    </div>
				</section>

<!--=include components/foot.htm -->
