<!--=include components/sub/head.htm -->
			<!-- min/css -->
			<link rel="stylesheet" href="css/hongbao-seller.css">
			<!-- min/css end-->

			<div class="hongbao-footer-nav">
				<nav class="hfn-wrapper">
					<a class="item">签到</a>
					<a class="item">分享</a>
					<a class="item">评论</a>
					<a class="item">兑换</a>
				</nav>
			</div>
			<main data-index-page="hongbao-seller" class="Content bhp__content">
				<section class="hongbao-detail-list bhp__tablebox bhp__tablebox--align-center">
					<div class="bhp__tablebox--header">
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">获取来源</span>
							<span class="bhp__tablebox--td">时间</span>
							<span class="bhp__tablebox--td">金额</span>
						</div>
					</div>
					<div class="bhp__tablebox--body">
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
					</div>
					<div class="bhp__tablebox--footer">
						<span class="total-hongbao">红包总计：<a class="value">0.00</a>￥</span>
						<span class="surplus-times">剩余：<a class="value">0</a>次</span>
					</div>
				</section>
				<section class="hongbao-help">
					<h2 class="heading">红包攻略</h2>
					<pre class="content">
						一：分享你的专属链接，每天 5 次
						二：每天签到，获得 2 次
						三：发布一个评论增加 1 次
						四：充值购买一元 5 次
					</pre>
				</section>
<!--=include components/sub/foot.htm -->
