<!--=include components/head.htm -->
            <!-- min/css -->
			<link rel="stylesheet" href="css/home.css">
			<!-- min/css end-->
			<!-- min/js -->
			<script src="js/home.js"></script>
			<!-- min/js end-->

			<main data-index-page="index" class="Content bhp__content">
				<div class="carousel-section">
					<div class="owl-carousel">
						<a href="#lb">
							<img src="images/lunbo_fullsize_01.gif" alt="轮播_01" class="pic">
						</a>
						<a href="#lb">
							<img src="images/lunbo_fullsize_02.gif" alt="轮播_02" class="pic">
						</a>
						<a href="#lb">
							<img src="images/lunbo_fullsize_03.gif" alt="轮播_03" class="pic">
						</a>
						<a href="#lb">
							<img src="images/lunbo_fullsize_04.gif" alt="轮播_04" class="pic">
						</a>
					</div>
				</div>

                <div class="pos-section">
    				<div class="pos-items">
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_01.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_02.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_03.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_04.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_05.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_06.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_07.jpg" alt="" class="po-pic"></a></div>
                        <div class="po"><a href="#ad"><img src="images/pos/ad_small_08.jpg" alt="" class="po-pic"></a></div>
                    </div>
                </div>

				<div class="cats-section">
                    <ul class="cats-list">
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-1">
                                        <i class="icon ibhp-restaurant"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">餐饮美食</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid18/pid1/sid18/city_id183/list.html" >日韩料理</a></li>
                                    <li class="ct-item"><a href="/seller/fid12/pid1/sid12/city_id183/list.html" >西餐</a></li>
                                    <li class="ct-item"><a href="/seller/fid11/pid1/sid11/city_id183/list.html" >中餐/酒店</a></li>
                                    <li class="ct-item"><a href="/seller/fid16/pid1/sid16/city_id183/list.html" >火锅/豆捞</a></li>
                                    <li class="ct-item"><a href="/seller/fid17/pid1/sid17/city_id183/list.html" >面包西点</a></li>
                                    <li class="ct-item"><a href="/seller/fid15/pid1/sid15/city_id183/list.html" >海鲜</a></li>
                                    <li class="ct-item"><a href="/seller/fid19/pid1/sid19/city_id183/list.html" >烧烤/烤肉</a></li>
                                    <li class="ct-item"><a href="/seller/fid90/pid1/sid90/city_id183/list.html" >饮品/快餐</a></li>
                                    <li class="ct-item"><a  href="/seller/fid91/pid1/sid91/city_id183/list.html" >特色美食</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid203/pid1/sid203/city_id183/list.html" >清真</a></li>
                                    <li class="ct-item"><a href="/seller/fid205/pid1/sid205/city_id183/list.html" >主题餐厅</a></li>
                                    <li class="ct-item"><a href="/seller/fid206/pid1/sid206/city_id183/list.html" >中式酒席</a></li>
                                    <li class="ct-item"><a href="/seller/fid161/pid1/sid161/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-2">
                                        <i class="icon ibhp-free_breakfast"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">休闲娱乐</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid123/pid2/sid123/city_id183/list.html" >温泉/洗浴</a></li>
                                    <li class="ct-item"><a href="/seller/fid74/pid2/sid74/city_id183/list.html" >电影/演出</a></li>
                                    <li class="ct-item"><a href="/seller/fid75/pid2/sid75/city_id183/list.html" >酒吧/KTV</a></li>
                                    <li class="ct-item"><a href="/seller/fid76/pid2/sid76/city_id183/list.html" >网吧/台球</a></li>
                                    <li class="ct-item"><a href="/seller/fid77/pid2/sid77/city_id183/list.html" >高尔夫</a></li>
                                    <li class="ct-item"><a href="/seller/fid124/pid2/sid124/city_id183/list.html" >按摩/足疗</a></li>
                                    <li class="ct-item"><a href="/seller/fid125/pid2/sid125/city_id183/list.html" >棋牌室</a></li>
                                    <li class="ct-item"><a href="/seller/fid126/pid2/sid126/city_id183/list.html" >游乐园</a></li>
                                    <li class="ct-item"><a href="/seller/fid207/pid2/sid207/city_id183/list.html" >图书馆/电玩游艺厅</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid208/pid2/sid208/city_id183/list.html" >运动健身</a></li>
                                    <li class="ct-item"><a href="/seller/fid210/pid2/sid210/city_id183/list.html" >夜总会</a></li>
                                    <li class="ct-item"><a href="/seller/fid211/pid2/sid211/city_id183/list.html" >商务会所</a></li>
                                    <li class="ct-item"><a href="/seller/fid128/pid2/sid128/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-3">
                                        <i class="icon ibhp-local_shipping"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">生活服务</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid83/pid4/sid83/city_id183/list.html" >房产</a></li>
                                    <li class="ct-item"><a href="/seller/fid84/pid4/sid84/city_id183/list.html" >搬家/维修</a></li>
                                    <li class="ct-item"><a href="/seller/fid85/pid4/sid85/city_id183/list.html" >家政/保姆</a></li>
                                    <li class="ct-item"><a href="/seller/fid213/pid4/sid213/city_id183/list.html" >保洁清理</a></li>
                                    <li class="ct-item"><a href="/seller/fid105/pid4/sid105/city_id183/list.html" >二手回收</a></li>
                                    <li class="ct-item"><a href="/seller/fid92/pid4/sid92/city_id183/list.html" >家电维修</a></li>
                                    <li class="ct-item"><a href="/seller/fid164/pid4/sid164/city_id183/list.html" >宠物服务</a></li>
                                    <li class="ct-item"><a href="/seller/fid163/pid4/sid163/city_id183/list.html" >车辆服务</a></li>
                                    <li class="ct-item"><a href="/seller/fid133/pid4/sid133/city_id183/list.html" >装修/设计</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid134/pid4/sid134/city_id183/list.html" >婚庆摄影</a></li>
                                    <li class="ct-item"><a href="/seller/fid135/pid4/sid135/city_id183/list.html" >购物/逛街</a></li>
                                    <li class="ct-item"><a href="/seller/fid137/pid4/sid137/city_id183/list.html" >鲜花/绿植</a></li>
                                    <li class="ct-item"><a href="/seller/fid138/pid4/sid138/city_id183/list.html" >送水订餐</a></li>
                                    <li class="ct-item"><a href="/seller/fid166/pid4/sid166/city_id183/list.html" >开锁打孔</a></li>
                                    <li class="ct-item"><a href="/seller/fid165/pid4/sid165/city_id183/list.html" >洗衣店</a></li>
                                    <li class="ct-item"><a href="/seller/fid151/pid4/sid151/city_id183/list.html" >物流快递</a></li>
                                    <li class="ct-item"><a href="/seller/fid223/pid4/sid223/city_id183/list.html" >美发/美甲</a></li>
                                    <li class="ct-item"><a href="/seller/fid168/pid4/sid168/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-4">
                                        <i class="icon ibhp-account_balance"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">家居建材</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid220/pid7/sid220/city_id183/list.html" >地暖空调</a></li>
                                    <li class="ct-item"><a href="/seller/fid104/pid7/sid104/city_id183/list.html" >五金电工</a></li>
                                    <li class="ct-item"><a href="/seller/fid98/pid7/sid98/city_id183/list.html" >家具家纺</a></li>
                                    <li class="ct-item"><a href="/seller/fid170/pid7/sid170/city_id183/list.html" >地板瓷砖</a></li>
                                    <li class="ct-item"><a href="/seller/fid101/pid7/sid101/city_id183/list.html" >环保净化</a></li>
                                    <li class="ct-item"><a href="/seller/fid102/pid7/sid102/city_id183/list.html" >木材门窗</a></li>
                                    <li class="ct-item"><a href="/seller/fid140/pid7/sid140/city_id183/list.html" >石材陶瓷</a></li>
                                    <li class="ct-item"><a href="/seller/fid141/pid7/sid141/city_id183/list.html" >厨房卫浴</a></li>
                                    <li class="ct-item"><a href="/seller/fid217/pid7/sid217/city_id183/list.html" >灯饰照明</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                   <li class="ct-item"><a href="/seller/fid103/pid7/sid103/city_id183/list.html" >油漆涂料</a></li>
                                    <li class="ct-item"><a href="/seller/fid218/pid7/sid218/city_id183/list.html" >管件管材</a></li>
                                    <li class="ct-item"><a href="/seller/fid219/pid7/sid219/city_id183/list.html" >玻璃制品</a></li>
                                    <li class="ct-item"><a href="/seller/fid225/pid7/sid225/city_id183/list.html" >金属建材</a></li>
                                    <li class="ct-item"><a href="/seller/fid216/pid7/sid216/city_id183/list.html" >板材</a></li>
                                    <li class="ct-item"><a href="/seller/fid314/pid7/sid314/city_id183/list.html" >吊顶</a></li>
                                    <li class="ct-item"><a href="/seller/fid172/pid7/sid172/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-5">
                                        <i class="icon ibhp-local_hospital"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">健康保健</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid106/pid8/sid106/city_id183/list.html" >体检化验</a></li>
                                    <li class="ct-item"><a href="/seller/fid107/pid8/sid107/city_id183/list.html" >口腔护理</a></li>
                                    <li class="ct-item"><a href="/seller/fid108/pid8/sid108/city_id183/list.html" >瘦身整形</a></li>
                                    <li class="ct-item"><a href="/seller/fid143/pid8/sid143/city_id183/list.html" >瑜伽健身</a></li>
                                    <li class="ct-item"><a href="/seller/fid145/pid8/sid145/city_id183/list.html" >美容美体</a></li>
                                    <li class="ct-item"><a href="/seller/fid222/pid8/sid222/city_id183/list.html" >康复疗养</a></li>
                                    <li class="ct-item"><a href="/seller/fid221/pid8/sid221/city_id183/list.html" >健康养生</a></li>
                                    <li class="ct-item"><a href="/seller/fid265/pid8/sid265/city_id183/list.html" >母婴服务</a></li>
                                    <li class="ct-item"><a href="/seller/fid173/pid8/sid173/city_id183/list.html" >其他</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a href="/seller/fid173/pid8/sid173/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-6">
                                        <i class="icon ibhp-school"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">教育培训</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a  href="/seller/fid174/pid10/sid174/city_id183/list.html" >幼儿教育</a></li>
                                    <li class="ct-item"><a href="/seller/fid110/pid10/sid110/city_id183/list.html" >外语培训</a></li>
                                    <li class="ct-item"><a href="/seller/fid111/pid10/sid111/city_id183/list.html" >艺术培训</a></li>
                                    <li class="ct-item"><a href="/seller/fid112/pid10/sid112/city_id183/list.html" >驾校/陪练</a></li>
                                    <li class="ct-item"><a href="/seller/fid113/pid10/sid113/city_id183/list.html" >家教辅导</a></li>
                                    <li class="ct-item"><a href="/seller/fid114/pid10/sid114/city_id183/list.html" >学术/科研</a></li>
                                    <li class="ct-item"><a href="/seller/fid115/pid10/sid115/city_id183/list.html" >成人教育</a></li>
                                    <li class="ct-item"><a href="/seller/fid136/pid10/sid136/city_id183/list.html" >职业技能</a></li>
                                    <li class="ct-item"><a href="/seller/fid327/pid10/sid327/city_id183/list.html" >琴行/音乐培训</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid175/pid10/sid175/city_id183/list.html" >其他</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                    <li class="ct-item"><a>taxonomy</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-7">
                                        <i class="icon ibhp-work"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">商务服务</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                    <li class="ct-item"><a href="/seller/fid176/pid73/sid176/city_id183/list.html" >理财/保险/投资</a></li>
                                    <li class="ct-item"><a href="/seller/fid177/pid73/sid177/city_id183/list.html" >招商加盟</a></li>
                                    <li class="ct-item"><a href="/seller/fid152/pid73/sid152/city_id183/list.html" >翻译</a></li>
                                    <li class="ct-item"><a href="/seller/fid153/pid73/sid153/city_id183/list.html" >律师</a></li>
                                    <li class="ct-item"><a href="/seller/fid154/pid73/sid154/city_id183/list.html" >网站建设</a></li>
                                    <li class="ct-item"><a href="/seller/fid155/pid73/sid155/city_id183/list.html" >广告设计</a></li>
                                    <li class="ct-item"><a href="/seller/fid156/pid73/sid156/city_id183/list.html" >印刷包装</a></li>
                                    <li class="ct-item"><a href="/seller/fid157/pid73/sid157/city_id183/list.html" >工商注册</a></li>
                                    <li class="ct-item"><a href="/seller/fid158/pid73/sid158/city_id183/list.html" >典当担保</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid159/pid73/sid159/city_id183/list.html" >财务/评估</a></li>
                                    <li class="ct-item"><a href="/seller/fid160/pid73/sid160/city_id183/list.html" >公证/专利</a></li>
                                    <li class="ct-item"><a href="/seller/fid226/pid73/sid226/city_id183/list.html" >办公用品</a></li>
                                    <li class="ct-item"><a href="/seller/fid261/pid73/sid261/city_id183/list.html" >展会服务</a></li>
                                    <li class="ct-item"><a href="/seller/fid262/pid73/sid262/city_id183/list.html" >商标专利</a></li>
                                    <li class="ct-item"><a href="/seller/fid263/pid73/sid263/city_id183/list.html" >喷绘/制卡</a></li>
                                    <li class="ct-item"><a href="/seller/fid264/pid73/sid264/city_id183/list.html" >租赁</a></li>
                                    <li class="ct-item"><a href="/seller/fid178/pid73/sid178/city_id183/list.html" >其他</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="cats-item">
                            <i class="cc-btn l ibhp-keyboard_arrow_left"></i>
                            <i class="cc-btn r ibhp-keyboard_arrow_right on"></i>
                            <div class="cats-item-wrapper">
                                <div class="cat-entry">
                                    <section class="cc-icon clr-8">
                                        <i class="icon ibhp-local_airport"></i>
                                    </section>
                                    <section class="cc-content">
                                        <h3 class="title">旅游出行</h3>
                                        <span class="excerpt">something here...</span>
                                    </section>
                                </div>
                                <ul class="cat-tax cat-tax1">
                                  <li class="ct-item"><a href="/seller/fid78/pid227/sid78/city_id183/list.html" >户外扩展</a></li>
                                    <li class="ct-item"><a href="/seller/fid127/pid227/sid127/city_id183/list.html" >农家乐</a></li>
                                    <li class="ct-item"><a href="/seller/fid146/pid227/sid146/city_id183/list.html" >酒店预定</a></li>
                                    <li class="ct-item"><a href="/seller/fid209/pid227/sid209/city_id183/list.html" >旅游度假</a></li>
                                    <li class="ct-item"><a href="/seller/fid238/pid227/sid238/city_id183/list.html" >出境旅游</a></li>
                                    <li class="ct-item"><a href="/seller/fid239/pid227/sid239/city_id183/list.html" >国内旅游</a></li>
                                    <li class="ct-item"><a href="/seller/fid240/pid227/sid240/city_id183/list.html" >周边旅游</a></li>
                                    <li class="ct-item"><a href="/seller/fid241/pid227/sid241/city_id183/list.html" >一日游</a></li>
                                    <li class="ct-item"><a href="/seller/fid236/pid227/sid236/city_id183/list.html" >星级酒店</a></li>
                                </ul>
                                <ul class="cat-tax cat-tax2">
                                    <li class="ct-item"><a href="/seller/fid237/pid227/sid237/city_id183/list.html" >旅游购物</a></li>
                                    <li class="ct-item"><a href="/seller/fid242/pid227/sid242/city_id183/list.html" >旅行社</a></li>
                                    <li class="ct-item"><a href="/seller/fid243/pid227/sid243/city_id183/list.html" >自助/自驾游</a></li>
                                    <li class="ct-item"><a href="/seller/fid241/pid227/sid241/city_id183/list.html" >一日游</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

				<div class="news-section">
                    <article class="new-summary">
                        <div class="ns-pic">
                            <img src="images/news/new_thumbnail_01.jpg">
                        </div>
                        <h2 class="ns-title">老街坊民间鉴赏公益活动</h2>
                        <p class="ns-excerpt">“这枚铜钱是我小时候淘的，一直收藏着，不知道是真的吗？”“这</p>
                    </article>
                    <article class="new-summary">
                        <div class="ns-pic">
                            <img src="images/news/new_thumbnail_02.jpg">
                        </div>
                        <h2 class="ns-title">小叶紫檀中的“牛毛”和“金</h2>
                        <p class="ns-excerpt">小叶紫檀中的“牛毛”和“金星”武汉红木家具　我们通常说的小叶</p>
                    </article>
                    <article class="new-summary">
                        <div class="ns-pic">
                            <img src="images/news/new_thumbnail_03.jpg">
                        </div>
                        <h2 class="ns-title">苏作代表――“苏吴木作”惊</h2>
                        <p class="ns-excerpt">9月18号，秋高气爽，蓝天白云，第八届红木艺术家具展暨第五届中</p>
                    </article>
                    <article class="new-summary">
                        <div class="ns-pic">
                            <img src="images/news/new_thumbnail_04.jpg">
                        </div>
                        <h2 class="ns-title">二八智能将推出互联网+智能</h2>
                        <p class="ns-excerpt">追溯起源，智能家居已经有20年的历史，但由于2014年谷歌30亿美元</p>
                    </article>
                </div>


<!--=include components/foot.htm -->
