<!--=include components/head.htm -->
			<!-- min/css -->
			<link rel="stylesheet" href="css/list-seller.css">
			<!-- min/css end-->
			<!-- min/js -->
			<script src="js/list-seller.js"></script>
			<!-- min/js end-->

			<div class="Filter bhp__filter" data-ismask="true" data-component="filter" data-require="tmp/list-seller-filter.tmp.php.htm">
				<div class="filter-wrapper">
					<div class="option-bar">
						<span class="ob-item" data-ismask="true" data-component="filter--city" data-stus-ajax="false" data-filter-type="city">徐州<i class="arrow ibhp-keyboard_arrow_down"></i></span>
						<span class="ob-item" data-ismask="true" data-component="filter--industry" data-stus-ajax="false" data-filter-type="industry">餐饮美食<i class="arrow ibhp-keyboard_arrow_down"></i></span>
						<span class="ob-item" data-ismask="true" data-component="filter--area" data-stus-ajax="false" data-filter-type="area">商圈市场<i class="arrow ibhp-keyboard_arrow_down"></i></span>
						<!-- <span class="ob-item" data-ismask="true" data-component="filter--more" data-stus-ajax="false" data-filter-type="more">更多筛选<i class="arrow ibhp-keyboard_arrow_down"></i></span> -->
					</div>
					<div class="filter-result"></div>
				</div>
			</div>

			<main data-index-page="list-seller" class="Content bhp__content">
				<section class="pos-section">
					<div class="pos-items">
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_01.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_02.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_03.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_04.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_05.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_06.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_07.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_08.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
						<div class="po"><a href="#ad"><img src="images/pos/ad_medium_09.jpg" alt="" class="po-pic"><span class="po-text">广告位招租...</span></a></div>
					</div>
				</section>

				<section class="sellers-section">
					<div class="sellers-items">
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
						<div class="seller">
							<div class="intro">
								<h2 class="sign">店家招牌</h2>
								<p class="location">地址：<span class="address">云龙区青年路117号（原老市委大院）</span></p>
								<div class="tag">标签：</div>
								<div class="meta">
									<span class="level">★★★★★</span>
									<span class="comment">暂无评论</span>
								</div>
							</div>
							<a class="call"><i class="ibhp-phone"></i></a>
						</div>
					</div>
				</section>

<!--=include components/foot.htm -->
