<!--=include components/sub/head.htm -->
			<!-- min/css -->
			<link rel="stylesheet" href="css/treasure-seller.css">
			<!-- min/css end-->
			<!-- min/js -->
			<script src="js/treasure-seller.js"></script>
			<!-- min/js end-->

			<main data-index-page="treasure-seller" class="Content bhp__content">
				<section class="treasure-detail-list bhp__tablebox bhp__tablebox--align-center">
					<div class="bhp__tablebox--header">
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">获取来源</span>
							<span class="bhp__tablebox--td">时间</span>
							<span class="bhp__tablebox--td">金额</span>
						</div>
					</div>
					<div class="bhp__tablebox--body">
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
						<div class="bhp__tablebox--tr bhp__tablebox--td-3">
							<span class="bhp__tablebox--td">Lorem 1</span>
							<span class="bhp__tablebox--td">Lorem 2</span>
							<span class="bhp__tablebox--td">Lorem 3</span>
						</div>
					</div>
					<div class="bhp__tablebox--footer">
						<span class="total-treasure">红包总计：<a class="value">0.00</a>￥</span>
						<a class="to-promote">转入充电推广</a>
						<a class="transfer">申请提现</a>
					</div>
				</section>

				<form action="tmp/require.tmp.php.htm" method="POST" class="transfer-form bhp__form">
					<div class="bhp__form--section">
						<label for="accountNum">输入提现支付宝账号</label>
						<input type="text" name="accountNum" id="accountNum" class="bhp__form--input-float">
					</div>
					<div class="bhp__form--section">
						<label for="accountName">输入支付宝账号名称</label>
						<input type="text" name="accountName" id="accountName" class="bhp__form--input-float">
					</div>
					<div class="bhp__form--section">
						<input type="submit" value="提交申请" class="bhp__form--input-submit on">
					</div>
					<div class="responese-text">申请成功，3 个工作日内完成</div>
				</form>

<!--=include components/sub/foot.htm -->
