<div class="Drawer">
    <div class="drawer-wrapper">
        <header class="top-panel">
            <div class="count-box">
                <h4 class="cb-total-text">总浏览数量</h4>
                <div class="cb-total">
                    <span>99</span>,<span>999</span>,<span>999</span>
                </div>
                <h4 class="cb-diff-text">昨日新增</h4>
                <div class="cb-diff">
                    <span>99</span>,<span>999</span>
                </div>
                <h4 class="cb-mer-text">总推广商家</h4>
                <div class="cb-mer">
                    <span>999</span>
                </div>
            </div>
        </header>
        <nav class="category-wrapper">
            <a href="#" class="item">菜单项</a>
            <a href="#" class="item">菜单项</a>
            <a href="#" class="item">菜单项</a>
            <a href="#" class="item">菜单项</a>
            <a href="#" class="item">菜单项</a>
        </nav>
    </div>
</div>