<div class="bhp__adapt--column"></div>

<footer class="Footer bhp__footer">
    <a href="http://www.baihp.com/help/fid92/id992/bencandy.html">关于百惠铺</a>
    <a href="http://www.baihp.com/help/fid93/list.html">广告服务</a>
    <a href="http://www.baihp.com/help/fid94/id994/bencandy.html">在线帮助</a>
    <a href="http://www.baihp.com/help/fid99/list.html">法律声明</a>
    <br>
	Copyright©  2013-2016 | <a href="http://www.miitbeian.gov.cn/">苏ICP备11073958</a> | 注册商标:佰惠铺 阿里云| <a href="http://218.94.11.106:8099/vabims/basepage/licenceSearch/Common.jsp" title="B2"> 增值许可苏B2-20120413</a>  
</footer>

<div class="mask-g bhp__mask--obfuscator"></div>