<header class="Header bhp__header">
    <div class="header-row bhp__header--row">
        <i class="menu-btn icon-btn48 r1 ibhp-menu"></i>

        <a href="/">
            <img src="images/logo.png" alt="LOGO" class="logo-primary bhp__vi--logo-primary">
        </a>

        <div class="searchform-wrapper">
            <form method="get" action="/" class="searchform">
                <div class="sf-textfidle-wrapper">
                    <label class="sf-icon" for="header-search">
                        <i class="ibhp-search"></i>
                    </label>
                    <input type="text" name="search" id="header-search" placeholder="搜索…" autocomplete="off" class="sf-textfidle">
                </div>
            </form>
        </div>
    </div>
</header>