<footer class="Navigator navigator-bottom bhp__navigator--bottom">
    <div class="navigator-row bhp__navigator--row">
        <div class="user-entry">
            <a class="ue-center"><i class="ibhp-person"></i>用户中心</a>
            <a class="ue-msg" href="#">消息</a>
        </div>
        <div class="place-entry">
            <a>徐州</a>
            <i class="pe-arrow ibhp-keyboard_arrow_up"></i>
        </div>
    </div>
</footer>

<section class="cities-container">
    <div class="cities-wrapper">
        <h3 class="cities-title">热门城市</h3>
        <ul class="cities-hot">
            <li class="city"><a href="#" data-province-id="1">北京市</a></li>
            <li class="city"><a href="#" data-province-id="2">天津市</a></li>
            <li class="city"><a href="#" data-province-id="9">上海市</a></li>
            <li class="city"><a href="#" data-province-id="27">重庆市</a></li>
        </ul>
        <h3 class="cities-title">选择省份</h3>
        <ul class="cities-list">

            <li class="city"><a data-province-id="5">内蒙古</a></li>
            <li class="city"><a data-province-id="6">辽宁省</a></li>
            <li class="city"><a data-province-id="7">吉林省</a></li>
            <li class="city"><a data-province-id="8">黑龙江省</a></li>

            <li class="city"><a data-province-id="3">河北省</a></li>
            <li class="city"><a data-province-id="10">江苏省</a></li>
            <li class="city"><a data-province-id="11">浙江省</a></li>
            <li class="city"><a data-province-id="12">安徽省</a></li>

            <li class="city"><a data-province-id="13">福建省</a></li>
            <li class="city"><a data-province-id="14">江西省</a></li>
            <li class="city"><a data-province-id="15">山东省</a></li>
            <li class="city"><a data-province-id="16">河南省</a></li>

            <li class="city"><a data-province-id="17">湖北省</a></li>
            <li class="city"><a data-province-id="18">湖南省</a></li>
            <li class="city"><a data-province-id="19">广东省</a></li>
            <li class="city"><a data-province-id="20">海南省</a></li>

            <li class="city"><a data-province-id="21">广西</a></li>
            <li class="city"><a data-province-id="22">甘肃省</a></li>
            <li class="city"><a data-province-id="23">陕西省</a></li>
            <li class="city"><a data-province-id="24">新疆</a></li>

            <li class="city"><a data-province-id="4">山西省</a></li>
            <li class="city"><a data-province-id="25">青海省</a></li>
            <li class="city"><a data-province-id="26">宁夏</a></li>
            <li class="city"><a data-province-id="28">四川省</a></li>

            <li class="city"><a data-province-id="29">贵州省</a></li>
            <li class="city"><a data-province-id="30">云南省</a></li>
            <li class="city"><a data-province-id="31">西藏</a></li>
        </ul>
    </div>
</section>

<section class="user-dashboard">
    <nav class="user-dashboard-wrapper">
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
        <a href="#" class="item"><i class="ibhp-person"></i>Lorem</a>
    </nav>
</section>