<div class="areabox select-tab-box bhp__layout--fullbox">
	<div class="stb-item-list">
		<div class="stb-item" data-tab="a">
			<h3 class="heading">Province Section</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="provinces container"></nav>
		</div>
		<div class="stb-item" data-tab="b">
			<h3 class="heading">City Section</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="cities container"></nav>
		</div>
		<div class="stb-item" data-tab="c">
			<h3 class="heading">Zone Section</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="zones container"></nav>
		</div>
		<div class="stb-item" data-tab="end">
			<h3 class="heading">Street Section</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="streets container"></nav>
		</div>
	</div>
	<!-- changed -->
	<div class="stb-close"><i class="ibhp-close"></i></div>
	<!-- changed end-->
</div>

<div class="catsbox select-tab-box bhp__layout--fullbox">
	<div class="stb-item-list">
		<div class="stb-item" data-tab="a">
			<h3 class="heading">一级分类</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="container"></nav>
		</div>
		<div class="stb-item" data-tab="b">
			<h3 class="heading">二级分类</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="container"></nav>
		</div>
		<div class="stb-item" data-tab="end">
			<h3 class="heading">三级分类</h3>
			<div class="bhp__layout--line-row"></div>
			<nav class="container"></nav>
		</div>
	</div>
	<div class="stb-close"><i class="ibhp-close"></i></div>
</div>
