/**************************************** mixin */
/**
 * Fonts: Size
 */
/**
 * Color: Block
 */
/**
 * Color: Text
 */
/**
 * Extend
 */
section.sellers-section .sellers-items .seller a.call::before {
  content: "";
  height: inherit;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.Filter.on .filter-wrapper .option-bar, .Wrapper.bhp__filter-active .Filter .filter-wrapper .option-bar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.Filter {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.327);
}

.mask-g.on._filter_ {
  z-index: 3;
}

.Filter {
  z-index: 5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}

.Filter .filter-wrapper .option-bar {
  background-color: #fff;
  height: 34px;
  color: #333;
  font-size: 13px;
  text-align: center;
  line-height: 34px;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.Filter .filter-wrapper .option-bar > .ob-item {
  height: 100%;
  width: 30%;
  float: left;
  display: inline-block;
}

.Filter .filter-wrapper .option-bar > .ob-item > i.arrow {
  display: inline-block;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.Filter .filter-wrapper .option-bar > .ob-item.on > i.arrow {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.Filter .filter-wrapper .filter-result {
  font-size: 16px;
  word-spacing: -6px;
  width: 100%;
  height: 0;
  z-index: 3;
  position: relative;
}

.Filter .filter-wrapper .filter-result .fr-wrapper {
  background-color: #fff;
  height: 220px;
  width: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.Filter .filter-wrapper .filter-result .fr-wrapper nav.fr-parent, .Filter .filter-wrapper .filter-result .fr-wrapper nav.fr-children {
  height: 100%;
  word-spacing: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  float: left;
}

.Filter .filter-wrapper .filter-result .fr-wrapper nav.fr-parent a, .Filter .filter-wrapper .filter-result .fr-wrapper nav.fr-children a {
  color: initial;
  text-decoration: initial;
  color: #333;
  line-height: 2.35;
  padding-left: 16px;
  display: block;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-parent {
  background-color: #eaeaea;
  width: 35%;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-parent .frp-item.on {
  background-color: #fff;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-children {
  background-color: #fff;
  width: 65%;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-children .frc-item {
  width: 100%;
  display: none;
  left: 0;
  top: 0;
  position: absolute;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-children .frc-item.on {
  display: block;
}

.Filter .filter-wrapper .filter-result .fr-wrapper .fr-children .frc-item a.heading {
  border-bottom: 2px solid #FF8300;
}

.Filter.on .filter-wrapper .filter-result .fr-wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.Wrapper.bhp__filter-active .bhp__mask--obfuscator {
  z-index: 3;
}

.Wrapper.bhp__filter-active .bhp__navigator--bottom {
  z-index: 2;
}

.Wrapper.bhp__filter-active .cities-container {
  z-index: 1;
}

.Wrapper.bhp__filter-active .Filter .filter-wrapper .filter-result .fr-wrapper.on {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main.Content {
  position: relative;
}

section.pos-section {
  overflow: hidden;
}

section.pos-section .pos-items .po {
  background-color: #A7A7A7;
  width: 33.3333%;
  line-height: 0;
  padding: 0 0 1px 1px;
  float: left;
  position: relative;
}

section.pos-section .pos-items .po > a img.po-pic {
  width: 100%;
  height: auto;
}

section.pos-section .pos-items .po > a .po-text {
  display: none;
  line-height: 1.35;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 0;
  position: absolute;
}

section.sellers-section {
  margin-top: 2px;
  border-top: 4px solid #D8740A;
}

section.sellers-section .sellers-items .seller {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 5px 12px;
  position: relative;
}

section.sellers-section .sellers-items .seller .intro {
  color: #717171;
  font-size: 12px;
  line-height: 1.55;
}

section.sellers-section .sellers-items .seller .intro > h2.sign {
  font-weight: initial;
  margin: initial;
  color: #222;
  font-size: 16px;
  font-weight: bolder;
  line-height: 1.75;
}

section.sellers-section .sellers-items .seller .intro > p.location {
  margin: initial;
}

section.sellers-section .sellers-items .seller a.call {
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: inline-block;
}

section.sellers-section .sellers-items .seller a.call > i {
  color: #D8740A;
  font-size: 34px;
  padding: 0 20px;
  vertical-align: middle;
}
